.portfolio-area {
  color: $dark;
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    text-align: center;
  }

  a {
    color: $dark;
  }
}

.project {
  padding: 5%;

  // Hide the image for small screens
  img {
    display: none;
  }
}

.title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;

  img:hover {
    opacity: 0.9;
  }
}

.tools {
  font-style: italic;
  font-size: 14px;
  padding-bottom: 10px;
}

.project-text {
  font-size: 18px;
  line-height: 150%;
}

.contact-area {
  text-align: center;
  background-color: $dark;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Tablet */
@media (min-width: 540px) {

  .title {
    font-size: 24px;
  }

  .tools {
    font-size: 16px;
  }

  .project-text {
    font-size: 20px;
  }
}

/* Desktop */
@media (min-width: 910px) {
  .project {
    img {
      width: 400px;
      float: right;
      display: block;
    }
  }
}
