.portfolio-area {
  color: $dark;
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;

  h1 {
    text-align: center;
  }

  a {
    color: $dark;
  }
}

.project {
  padding: $project-padding;

  // Hide the image for small screens
  img {
    display: none;
  }
}

.title {
  font-size: $project-title-font-size;
  font-weight: bold;
  padding-top: $project-title-padding-top;
  padding-bottom: $project-title-padding-bottom;

  img:hover {
    opacity: $lower-opacity;
  }
}

.tools {
  font-style: italic;
  font-size: $project-tools-font-size;
  padding-bottom: $project-tools-padding-bottom;
}

.project-text {
  font-size: $project-text-font-size;
  line-height: $project-text-line-height;
}

/* Tablet */
@media (min-width: $tablet-width) {

  .title {
    font-size: $project-title-medium-font-size;
  }

  .tools {
    font-size: $project-tools-medium-font-size;
  }

  .project-text {
    font-size: $project-text-medium-font-size;
  }
}

/* Desktop */
@media (min-width: $desktop-width) {
  .project {
    img {
      width: $project-image-width;
      float: right;
      display: block;
    }
  }
}
