/* The welcome section */
.welcome {
  text-align: center;
  background-image: $gradient;

  h1 {
    padding-top: $intro-text-padding-top;
  }

  h2 {
    padding-top: $description-text-padding-top;
  }
}

.profile {
  padding-top: $profile-padding-top;
  width: $profile-width;
  height: $profile-height;
}

/* Icons for GitHub, Instagram and Resume */
.icons img {
  width: $social-icon-width;
  height: $social-icon-height;
  padding: $social-icon-padding-top $social-icon-padding-right $social-icon-padding-bottom $social-icon-padding-left;
}

// Add a little bit of hover effect on the icons
.icons img:hover {
  opacity: $lower-opacity;
}

/* Tablet */
@media (min-width: $tablet-width) {
  .profile {
    width: $profile-medium-width;
    height: $profile-medium-height;
  }
}
