h1.has-text-centered About
section.section.about-page
  .container.animated.fadeInLeft
    .columns
      .column.is-5
        img.profile(src="/assets/profile.jpg")
      .column
        h1.title Who am I?
        p Hi. My name is Zuqi Chen (pronounced as: "zoo-key"). I am a third year student studying Computer Science at UC San Diego. I am currently looking for software development and full stack web development internship for winter, spring, and summer 2018.
        p My favorite things other than programming are music, soccer, video games, and Rubik's Cube. I can solve a Rubik's Cube in #[a(href="https://youtu.be/cBU1LnJHIPM") 12 seconds] on average. You may also check out my #[a(href="https://www.instagram.com/jokeychen/") Instagram] for my photography work.
        .content.has-text-centered
          a(href="mailto:me@zuqichen.com") Contact me
