@import 'https://fonts.googleapis.com/css?family=Maven+Pro';
body {
  margin: 0 auto;
  max-width: 75%;
  font-family: "Maven Pro", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: $body-color;
}

h1, h2, strong {
  color: $heading-color;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
