@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$primary-color: #444;
$font: 'Open Sans', sans-serif;

// Global

body {
  color: $primary-color;
  font-family: $font;
  h1 {
    font-size: 3em;
    padding-top: 1em;
  }
}

nav.nav .nav-left a {
  font-size: 1.5em;
}

// Index Page
.index-page {
  // Main hero section
  .welcome {
    h1 {
      font-size: 4em;
    }
    h2 {
      padding: 1.1em 0;
    }
    span.icon {
      a {
        padding: 0 1em;
      }
    }
  }

  // Typed cursor and blinking effect
  .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }

  @keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }

  @-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }

  @-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
}

// About Page
.about-page {
  .profile {
    border-radius: 1em;
  }

  p {
    padding: 1em 0;
    line-height: 2em;
  }
}
