h1 About
section.about-page
  p Hi. My name is Zuqi Chen. I am a software engineer recently graduated from UC San Diego with a bachelor in Computer Science.
  p My favorite things other than programming are aviation, soccer, video games, and Rubik's Cube. I can solve a Rubik's Cube in #[a(href="https://youtu.be/cBU1LnJHIPM") 12 seconds] on average. I am a student pilot pursuing Private Pilot License. You may also check out my #[a(href="/gallery") Gallery] page for my photography work.
  a(href="mailto:me@zuqichen.com") Contact me
