section.index-page.hero.is-fullheight
  .hero-body.has-text-centered
    .container.welcome.animated.fadeInUpBig
      h1.title Hello. I am Zuqi
      h2.subtitle I am a #[span#me ]#[span.typed-cursor]
      span.icon
        a(href="https://www.linkedin.com/in/zuqi-chen-2ab61b109"): i.fa.fa-linkedin
        a(href="https://github.com/jokeychen"): i.fa.fa-github
        a(href="https://www.instagram.com/jokeychen/"): i.fa.fa-instagram
