hr {
  width: $hr-small-width;
}

/* Tablet */
@media (min-width: $tablet-width) {
  hr {
    width: $hr-medium-width;
  }
}

/* Desktop */
@media (min-width: $desktop-width) {
  hr {
    width: $hr-large-width;
  }
}
