// Global Font
body * {
  font-family: $site-font, sans-serif;
}

h1 {
  font-size: $h1-font-size;
  font-weight: bold;
  margin: 0;
}

// To fix the logo text size problem
header h1 a {
  font-size: $logo-font-size;
}

h2 {
  font-size: $h2-font-size;
  font-weight: normal; /* To override the default style */
  margin: 0;
}

p {
  margin: 0;
}

@media (min-width: $tablet-width) {
  h1 {
    font-size: $desktop-h1-font-size;
  }

  h2 {
    font-size: $desktop-h2-font-size;
  }
}
