// Color
$dark: #2d3e4f;
$bright: #ffffff;
$gradient: linear-gradient(to bottom, $dark, rgba(0, 0, 0, 0.9) 97%);

// Font family
$site-font: 'Quicksand', sans-serif;

// Opacity
$lower-opacity: 0.5;

// Font size
$logo-font-size: 36px;
$h1-font-size: 20px;
$h2-font-size: 14px;
$h1-medium-font-size: 36px;
$h2-medium-font-size: 24px;
$project-title-font-size: 18px;
$project-tools-font-size: 14px;
$project-text-font-size: 18px;
$project-title-medium-font-size: 24px;
$project-tools-medium-font-size: 16px;
$project-text-medium-font-size: 20px;

// Horizontal rule
$hr-small-width: 200px;
$hr-medium-width: 300px;
$hr-large-width: 400px;

// Width and height
$tablet-width: 540px;
$desktop-width: 910px;
$header-height: 100px;
$project-image-width: 400px;
$profile-width: 200px;
$profile-height: 200px;
$profile-medium-width: 300px;
$profile-medium-height: 300px;
$social-icon-width: 50px;
$social-icon-height: 50px;

// Padding
$section-padding-top: 50px;
$section-padding-bottom: 50px;
$intro-text-padding-top: 75px;
$description-text-padding-top: 25px;
$project-padding: 5%;
$project-title-padding-top: 20px;
$project-title-padding-bottom: 10px;
$project-tools-padding-bottom: 10px;
$profile-padding-top: 100px;
$social-icon-padding-left: 15px;
$social-icon-padding-right: 15px;
$social-icon-padding-top: 50px;
$social-icon-padding-bottom: 50px;

// Line height
$project-text-line-height: 150%;
