nav.nav
  .container
    .nav-left
      a.nav-item(href="/") Zuqi Chen
    
    span.nav-toggle
      span
      span
      span
        
    .nav-right.nav-menu
      a.nav-item(href="/") Home
      a.nav-item(href="/about") About
      a.nav-item(href="/resume") Resume
